<div class="wrapper">
    <div class="row">
        <div class="col-12">
            <form class="m-4">
                <div class="input-group ">
                    <input type="text" class="form-control" placeholder="location">
                    <button class="btn btn-primary" type="button">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            <h1 class="text-center temperature">23 &#8451;</h1>
        </div>
        <div class="col-12">
            <p class="text-white mt-2 mb-2">more info</p>
            <div class="row">
                <div class="col-6">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="../assets/max.svg" alt="min-temp">
                        </div>
                        <h3 class="col-6 text-white">20 &#8451;</h3>
                    </div>
                    <p class="text-warning text-center">Max</p>
                </div>
                <div class="col-6">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="../assets/min.svg" alt="min-temp">
                        </div>
                        <h3 class="col-6 text-white">20 &#8451;</h3>
                    </div>
                    <p class="text-warning text-center">Max</p>
                </div>
                <div class="col-6">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="../assets/wind.svg" alt="min-temp">
                        </div>
                        <h3 class="col-6 text-white">20 &#8451;</h3>
                    </div>
                    <p class="text-warning text-center">Max</p>
                </div>
                <div class="col-6">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="../assets/humidity.svg" alt="min-temp">
                        </div>
                        <h3 class="col-6 text-white">20 &#8451;</h3>
                    </div>
                    <p class="text-warning text-center">Max</p>
                </div>
            </div>
        </div>
    </div>
</div>